﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.gridview-header
{
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 3px;
    color:  orange;
    padding-top: 3px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    background-color: #EEEEEE;
}

.gridview tr
{
    /* set font properties here */
    font-weight:normal;
    font-size: 11px;
    padding-bottom: 3px;
    color: black;
    padding-top: 3px;
    padding-left: 2px;
    padding-right: 2px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    background-color: white;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}


